{% extends 'components/layout.html' %} {% block content %}

{% block head %}
<title>About lommix</title>
{% endblock %}


<div class="w-full markdown mt-8">

	<h1>About</h1>

	<hr>
	<p>
		My name is Lorenz, I am a web/game developer from Germany.
		Driven by passion and curiosity, I am always eager to learn new things and explore.
	</p>

	<p>
		On this blog I share my projects, opinions, experiences and some tips and tricks along the way.
	</p>

	<br>
	<h4>Like this website</h4>
	<p>
		Which is a high performance single file content management system written in Rust with barly any JS.
	</p>
	<p>
	  Using <b>Minijinja</b>, <b>Axum</b>, <b>Sqlite</b>, <b>Htmx</b> as core stack.
	</p>
	<br />
	<p>
		Code is open source on my Github <a href="https://github.com/Lommix/lommix-blog-cms">https://github.com/Lommix/lommix-blog-cms</a>
	</p>
</div>


{% endblock %}
