{% extends 'components/layout.html' %} {% block content %}

{% block head %}
<title>About lommix</title>
{% endblock %}


<div class="w-full markdown mt-8">

	<h1>About</h1>

	<hr>
	<p>
		My name is Lorenz, I am a web/game developer from Germany.
		Driven by passion and curiosity, I am always eager to learn new things and explore.
	</p>

	<p>
		On this blog I share my projects, thoughts, experiences and some tips and tricks along the way.
	</p>

	<br>
	<h4>Like this website</h4>
	<p>
		Which is a feature complete high performance CMS System written in Rust with barly any JS.
	</p>
	<p>
	  Using <b>Minijinja</b>, <b>Axum</b>, <b>Sqlite</b>, <b>Htmx</b> -> The MASH Stack!
	  <br>
	  Serving over 100k requests/sec on a budget.
	</p>
	<p>
	<p>
		Visit <a href="https://github.com/lommix">https://github.com/lommix</a>
	</p>
</div>


{% endblock %}
