{% extends 'components/layout.html' %} {% block content %}

{% block head %}
<title>About lommix</title>
{% endblock %}


<div class="w-full markdown mt-8">

	<h1>About</h1>

	<hr>
	<p>
		My name is Lorenz, I am a programmer and game developer from Germany.
		Driven by passion and curiosity, I am always eager to learn new things and explore.
	</p>

	<p>
		By day I am a fullstack developer in the ecommerce space. By night I am a perfomance addict, riding the edge,
		counting memory and building things.
	</p>

	<p>
		In my teens i had a huge passion for electronics. Building tesla coils, etching PCBs and soldering.
		Then I learned about mircocontrollers and embedded systems and everything changed.

	</p>

	<p>
		My fist programming language was C and 8 bit assembly, which gave me a great foundation on learning anything
		else in the future.
	</p>

	<p>
		Here you can find some of my passion projects.
	</p>

	<hr class="my-10">

	<h4>Like this blog!</h4>
	<p>
		Which is a feature complete high performance CMS System written in Rust and powered by
		Htmx in the frontend with barly any JS.

	</p>
	<p>
		<strong>300k requests/sec with 8ms respond time</strong>? Easy!
	</p>

	<p>
		Visit <a href="https://github.com/lommix">https://github.com/lommix</a>
	</p>
</div>


{% endblock %}
