{% extends 'components/layout.html' %}

{% block head %}
	<title>Lommix - {{article.title}}</title>
	<meta name="description" content="{{article.teaser}}" />
	<meta name="author" content="Lommix" />
	<meta property="og:title" content="Lommix - {{article.title}}" />
	<meta property="og:description" content="https://lommix.de{{article.teaser}}" />
	<meta property="og:image" content="{{article.cover}}" />

	<meta property="twitter:title" content="Lommix - {{article.title}}" />
	<meta property="twitter:card" content="summary_large_image" />
	<meta property="twitter:description" content="https://lommix.de{{article.teaser}}" />
	<meta property="twitter:creator" content="@lommix1" />
	<meta property="twitter:image" content="{{article.cover}}" />
{% endblock %}

{% block content %}

{% if auth.user_state == "Admin" %}
	<button class="absolute top-0 right-0 w-fit px-3 bg-green-600" onclick="slide_down('edit-dropdown', 300)">
		edit
	</button>
	<div id="edit-dropdown"
		class="bg-slate-600 relative ease-in transform transition-all duration-200 overflow-hidden w-full h-0">

		<div class="absolute top-0 left-0 p-2 w-full">
			<form class="p-2 w-full" hx-put="/api/article/{{article.id}}" hx-target="#article-header">
				<fieldset id="published-input" class="w-full flex flex-row space-x-2 my-2 text-white">
					<label for="published">Published:</label>
					<input class="bg-green-500 text-green-500 border-green-500 border-4" type="radio" name="published"
						value="true" {% if article.published %} checked {% endif %} />
					<label for="published">Private:</label>
					<input class="bg-red-500 text-red-500 border-red-500 border-4" type="radio" name="published"
						value="false" {% if not article.published %} checked {% endif %} />
				</fieldset>

				<div class="w-full flex flex-row space-x-2 h-full">
					<div class="w-full">
						<textarea class="w-full h-full resize-none my-1 overflow-scroll p-1" type="text"
							name="teaser">{{article.teaser}}</textarea>
					</div>
					<div class="w-full">
						<input id="title" placeholder="Title" class="w-full my-1 p-1" type="text" name="title"
							value="{{article.title}}" />
						<input id="alias" placeholder="Alias" class="w-full my-1 p-1" type="text" name="alias"
							value="{{article.alias}}" />
						<div class="w-full flex-row flex space-x-3 mt-1 items-center">
							<img id="preview-image" src="{{article.cover}}" alt="Banner"
								class="w-16 h-16 p-4 border-white border rounded-md" />

							<div class="w-full flex-col flex">
								<input id="cover" placeholder="Cover" class="w-full my-1 p-1" type="select" name="cover"
									list="file_list" value="{{article.cover}}"
									onchange="document.getElementById('preview-image').src=this.value" />
								<datalist hx-get="/api/files" hx-target="#file_list"
									hx-trigger="load, submit from:#file-form delay:0.3s" id="file_list">
								</datalist>
								<input class="w-full bg-slate-300 hover:bg-slate-200 px-4 py-1 rounded-md" type="submit"
									value="save" />
							</div>
						</div>

					</div>
				</div>
			</form>

			<form id="file-form" hx-encoding='multipart/form-data' class="w-full mt-2 p-2 flex flex-row justify-end"
				hx-post="/api/files/{{article.id}}" hx-swap="none">
				<input type="file" name="file" class="text-white" />
				<input class="px-2 bg-slate-300 hover:bg-slate-200 rounded-md" type="submit" value="upload" />
			</form>

		</div>

		<button class="absolute top-0 right-0 w-fit px-3 bg-red-600" onclick="slide_down('edit-dropdown', 0)">
			close
		</button>

	</div>
{% endif %}

<div id="article-header" class="w-full my-3 markdown">
	{% with article=article %}
	{% include 'components/article_header.html' %}
	{% endwith %}
</div>



<div id="paragraphs">
	{% for paragraph in article.paragraphs %}
	{% with paragraph=paragraph, auth=auth %}
	{% include 'components/paragraph.html' %}
	{% endwith %}
	{% endfor %}
</div>

{% if auth.user_state == "Admin" %}

<div class="w-full justify-center flex my-3">
	<button class="bg-slate-600 px-2 rounded-sm text-white" onclick="slide_down('addForm', 400)">+</button>
</div>

<div id="addForm" class="w-full block relative ease-in transform transition-all duration-200 h-0 overflow-hidden">
	<div class="bg-slate-400 p-4 absolute w-full text-xl">
		<form hx-post="/api/paragraph" hx-swap="afterend" hx-target="#paragraphs">
			<input type="hidden" name="article_id" value="{{article.id}}" />
			<textarea class="w-full h-64 overflow-scroll resize-none" type="text" name="content"></textarea>
			<select name="paragraph_type" class="w-full">
				<option>Markdown</option>
				<option>Html</option>
			</select>
			<input class="bg-green-600 hover:bg-green-500 rounded-sm px-2 py-1 block mt-3 font-bold text-white"
				type="submit" value="Create" />
		</form>
	</div>
</div>

{% endif %}
{% endblock %}


{% block js %}
<script src="/static/highlight.min.js"></script>
{% endblock %}
