{% extends 'components/layout.html' %}

{% block content %}

<div class="bg-slate-600 p-4">
	<h1>{{article.title}}</h1>
	<p>{{article.description}}</p>

	<form hx-put="/api/article/{{article.id}}" hx-swap="none">
		<input class="w-full" type="hidden" name="id" value="{{article.id}}" />
		<input class="w-full" type="text" name="title" value="{{article.title}}" />
		<input class="w-full" type="text" name="teaser" value="{{article.teaser}}" />
		<input class="w-full" type="text" name="description" value="{{article.description}}" />
		<input class="w-full" type="checkbox" name="published" value="true" {% if article.published %} checked {% endif
			%} />
		<input class="w-full" type="submit" value="save" />
	</form>
</div>

<div id="paragraphs">
	{% for paragraph in article.paragraphs %}
	{% with paragraph=paragraph, auth=auth %}
	{% include 'components/paragraph.html' %}
	{% endwith %}
	{% endfor %}
</div>


<div class="w-full justify-center flex my-3">
	<button class="bg-slate-600 px-2 rounded-sm text-white" onclick="slide_down('addForm', 400)">+</button>
</div>

<div id="addForm" class="w-full block relative ease-in transform transition-all duration-200 h-0 overflow-hidden">
	<div class="bg-slate-400 p-4 absolute w-full text-xl">
		<form hx-post="/api/paragraph" hx-swap="afterend" hx-target="#paragraphs">
			<input type="hidden" name="article_id" value="{{article.id}}" />
			<textarea class="w-full h-64 overflow-scroll resize-none" type="text" name="content"></textarea>
			<select name="paragraph_type" class="w-full">
				<option>Markdown</option>
				<option>Video</option>
				<option>Wasm</option>
			</select>
			<input class="bg-green-600 hover:bg-green-500 rounded-sm px-2 py-1 block mt-3 font-bold text-white"
				type="submit" value="Create" />
		</form>
	</div>
</div>

{% endblock %}


{% block js %}
<script src="/static/highlight.min.js"></script>
{% endblock %}
