{% extends 'components/layout.html' %}

{% block head %}
	<title>Support me</title>
	<meta name="author" content="Lommix" />
	<meta property="og:title" content="Support me" />
	<meta name="description" content="Support my work by liking, sharing or donating" />
{% endblock %}

{% block content %}
	<div id="contact">
		<h1 class="text-white text-6xl">Contact</h1>
		<hr />
		<p>Feedback or questions? Leave me a message.</p>
		<form
			class="w-full flex flex-col space-y-2"
			hx-post="/api/contact"
			hx-swap="innerHTML"
			hx-target="#contact"
			hx-target-404="#contact-error">
				<input class="p-1 w-full rounded-sm text-black" type="email" name="email" placeholder="Email" required />
				<input class="p-1 w-full rounded-sm text-black" type="text" name="subject" placeholder="Subject" required />
				<textarea class="p-1 w-full h-64 rounded-sm text-black overflow-scroll resize-none" name="message" placeholder="Message" required></textarea>
				<p id="contact-error"></p>
				<div class="flex flex-row space-x-3 items-center">
					<input id="datasecrity" class="h-4 w-4" type="checkbox" value="true" name="datasecurity" required />
					<label for="datasecrity" class="text-white font-bold">Accept data security</label>
				</div>
				<input class="p-1 border-2 rounded-sm font-bold border-white text-white cursor-pointer hover:bg-white hover:text-black" type="submit" value="Send" />
		</form>
	</div>
{% endblock %}
