{% extends 'components/layout.html' %} {% block content %} {% block head %}
<title>Donate</title>
{% endblock %}

<div class="w-full markdown mt-8">
	<h1 class="font-bold">Want to support me?</h1>
	<hr />
	<p>
		Did any of my projects inspired or helped you in some kind of way?
	</p>
	<p> Then leave me like, star or comment on any platform below.</p>
	<p> If thats not enough for you, feel free to donate.</p>
	<a
		href="https://www.paypal.com/donate/?hosted_button_id=8Q4QRN5ALF5AA"
		class="underline underline-offset-4 text-xl font-bold"
		>You can leave me a donation here</a
	>
</div>

{% endblock %}
