{% extends 'components/layout.html' %}

{% block head %}
<title>Lommix's Blog</title>
<meta name="author" content="Lommix" />
<meta name="description" content="My name is Lorenz, I am a web/game developer from Germany. Driven by passion and curiosity, I am always eager to learn new things and explore. On this blog I share my projects, opinions, experiences and some tips and tricks along the way." />
{% endblock %}

{% block content %}


{% if auth.user_state == "Admin" %}

<div class="w-ful relative">
	<button class="bg-green-400 px-2 rounded-sm font-bold text-gray-600 absolute left-0 -top-7"
		onclick="slide_down('dropdown', 65)">
		+
	</button>
</div>

<div id="dropdown" class="w-full block relative overflow-hidden ease-in transform transition-all duration-300 h-0">
	<div class="absolute w-full bg-slate-200 rounded-lg p-2 left-0">
		<form hx-post="/api/article" class="create flex flex-row items-center text-xl" hx-swap="none">
			<label class="h-full text-center mx-4 font-bold" for="title">Title:</label>
			<input class="w-full my-2 px-2" type="text" name="title" />
			<input class="bg-green-400 border-2 px-3 rounded-md hover:bg-green-300" type="submit" value="Create" />
			<input type="hidden" name="published" value="false" />
			<input type="hidden" name="teaser" value="" />
			<input type="hidden" name="cover" value="" />
		</form>
	</div>
</div>
{% else %}
<button class="absolute right-0 -top-8 h-1 w-1" onclick="slide_down('dropdown', 75)"></button>
<div id="dropdown" class="w-full relative overflow-hidden ease-in transform transition-all duration-300 h-0">
	<div class="w-full absolute top-0 left-0">
		{% include 'components/login.html' %}
	</div>
</div>
{% endif %}

<div id="preview" hx-get="/api/article" hx-trigger="load, submit from:.create">
	loading ...
</div>

<div class="text-black text-xl font-bold" id="test">
</div>


{% endblock %}
