{% for article in articles %}

<div id="preview-{{article.id}}" class="text-black relative text-xl font-bold rounded-lg my-6">
	<div class="w-full h-full flex-col md:flex-row flex space-x-0 space-y-4 md:space-x-4 md:space-y-0">
		<div class="w-full h-full flex justify-center hover:border-slate-400 border-slate-200 rounded-lg border-2 p-2 overflow-hidden">
			<a class="overflow-hidden hover:scale-105 transition-all {% if not article.published %}grayscale{% endif %}"
				{% if article.alias %}
					href="/article/{{ article.alias }}"
				{% else %}
					href="/article/{{ article.id }}"
				{% endif %}

				>

				{% if article.cover %}
				<img src="{{article.cover}}" alt="Banner" class="max-h-96" />
				{% else %}
				<img src="https://via.placeholder.com/400" alt="Banner" />
				{% endif %}
			</a>
		</div>
		<div class="w-full">
			<h2 class="text-white text-3xl">
				<a
				{% if article.alias %}
					href="/article/{{ article.alias }}"
				{% else %}
					href="/article/{{ article.id }}"
				{% endif %}
				>{{ article.title }}</a>
			</h1>
			<hr>
			<span class="text-sm">{{ article.updated_at|date }}</span>
			<p>
				{{ article.teaser }}
			</p>
		</div>
	</div>

	{% if auth.user_state == "Admin" %}
	<div class="absolute top-0 right-0">
		<button class="bg-red-800 text-white font-normal text-md px-2 rounded-sm"
			hx-delete="/api/article/{{ article.id }}" hx-confirm="delete this?" hx-target="#preview-{{article.id}}"
			hx-swap="delete">
			X
		</button>
	</div>
	{% endif %}
</div>

{% endfor %}
