<div class="w-full h-full justify-center flex items-center">
	<div>
		<ul class="[&>li]:inline-block [&>li]:mx-1">
			<li>Copyright 2023 Lommix</li>
			<li>|</li>
			<li class="font-bold"><a href="https://github.com/lommix" target="_blank">Github</a></li>
			<li class="font-bold"><a href="https://www.youtube.com/channel/UCd1BUXaUHWnnNLWknIgxFHg"
					target="_blank">Youtube</a></li>
			<li>|</li>
			<li>Powered By</li>
			<li class="font-bold">
				<a href="https://github.com/lommix/blog-website" target="_blank" class="underline underline-offset-4">
					<<span class="text-blue-500 font-bold text-2xl">/</span>> htm<span class="text-blue-500">x</span>
						& <span class="font-bold text-orange-500">Rust</span>
				</a>
			</li>
		</ul>
	</div>
</div>
