<div class="w-full h-full justify-center flex items-center leading-5">
	<div class="flex text-white space-x-5 flex-row">
		<!-- <div class="items-center flex-row w-fit flex"> -->
		<!-- 	<a href="/donate"> -->
		<!-- 		<img -->
		<!-- 			src="/static/images/coffee.svg" -->
		<!-- 			alt="" -->
		<!-- 			title="support me" -->
		<!-- 		/> -->
		<!-- 	</a> -->
		<!-- </div> -->
		<div
			class="w-fit flex flex-row items-center font-bold text-xl space-x-5"
		>
			<a href="https://github.com/lommix" target="_blank">Github</a>
			<a
				href="https://www.youtube.com/channel/UCd1BUXaUHWnnNLWknIgxFHg"
				target="_blank"
				>Youtube</a
			>
		</div>
		<div class="w-fit flex-row items-center space-x-2 hidden md:flex">
			<p>build with:</p>
			<a
				href="https://github.com/lommix/blog-website"
				target="_blank"
				class="underline underline-offset-4 font-bold text-xl"
			>
				<<span class="text-blue-500 font-bold text-2xl">/</span>>
				htm<span class="text-blue-500">x</span> &
				<span class="font-bold text-orange-500">Rust</span>
			</a>
		</div>
	</div>
</div>
