<div class="relative rounded-lg overflow-hidden">
  <img src="/static/images/banner.jpg" alt="Banner" />
  <div class="absolute w-full h-full top-0 left-0 justify-end flex">
    <div class="w-full"></div>
    <div class="flex flex-col w-full">
      <div class="w-full h-full flex items-end justify-center">
        <h1 class="text-white font-bold text-lg sm:text-xl md:text-2xl">
          [Lommix's Blog]
        </h1>
      </div>
      <div class="w-full h-full flex justify-end items-end space-x-1 px-4">
        <a class="px-5 py-2 bg-slate-700 text-white font-bold rounded-tl-xl" href="/">Blog</a>
        <a class="px-5 py-2 bg-slate-700 text-white font-bold rounded-tr-xl" href="/about">About</a>
      </div>
    </div>
  </div>
</div>
