<div class="w-full text-white max-w-2xl font-bold text-sm">
	<span class="text-md">View counter</span>
	<table class="border-collapse table-auto border-white border">
		<tr>
			<th class="px-2 border-r border-white">Day</th>
			<th class="px-2 border-r border-white">Donate</th>
			<th class="px-2 border-r border-white">About</th>
			<th class="px-2">Home</th>
		</tr>
		{% for daily in stats %}
		<tr class="border-white border text-right">
			<td class="px-2">{{ daily.date|weekday }}</td>
			<td class="px-2">{{ daily.donate_views }}</td>
			<td class="px-2">{{ daily.about_views }}</td>
			<td class="px-2">{{ daily.home_views }}</td>
		</tr>
		{% endfor %}
	</table>
	<p>Mailbox: {{message_count}}</p>

	<table class="w-full">
		<tr>
			<th class="px-2 border border-white">date</th>
			<th class="px-2 border border-white">email</th>
		</tr>
		{% for mail in top_ten %}
		<tr
			hx-get="/api/contact/{{mail.id}}"
			hx-target="#mail-output"
			class="border-white border text-right cursor-pointer">
				<td class="px-2 border-r border-white">{{ mail.created|weekday}}</td>
				<td class="px-2">{{ mail.email }}</td>
			</tr>
		{% endfor %}
	</table>

	<div id="mail-output"></div>
</div>
